<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Relatório - Simulado UTFPR</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <header>
      <img src="./pdf/images/logo.png" alt="Logo UTFPR" class="logo">
      <div class="info">
        <p><strong>Nome:</strong> João Vitor</p>
        <p><strong>Simulado:</strong> ETEC, Escola Técnica Estadual 2025 - Multidisciplinar</p>
        <p><strong>Data:</strong> 01/11/2025</p>
      </div>
    </header>
    <hr class="divisoria">
    <section class="tabela-status">
      <table>
        <tr>
          <th>Situação/Status</th>
          <th>Nota</th>
        </tr>
        <tr>
          <td>Concluído</td>
          <td>60,00/100,00</td>
        </tr>
      </table>
    </section>
    <h2 class="titulo">Caderno de Questões</h2>
    <section class="questao">
      <h3>Questão 01</h3>
      <p>O sol se escondia lentamente atrás das montanhas, tingindo o céu de laranja e violeta.  
      Um vento suave carregava o perfume das flores recém-abertas.  
      Naquela calmaria, o tempo parecia parar por um instante.</p>
      <ul class="alternativas">
        <li>alternativa (A)</li>
        <li>alternativa (B)</li>
        <li>alternativa (C)</li>
        <li>alternativa (D)</li>
      </ul>
      <p><strong>Resposta:</strong>  
      Alternativa correta (C), a sua resposta está errada, por isso o sol se escondia lentamente atrás.  
      <strong>Recomendações:</strong> livros, filmes e sites.</p>
    </section>
    <section class="questao">
      <h3>Questão 02</h3>
      <p>O sol se escondia lentamente atrás das montanhas, tingindo o céu de laranja e violeta.  
      Um vento suave carregava o perfume das flores recém-abertas.  
      Naquela calmaria, o tempo parecia parar por um instante.</p>
      <ul class="alternativas">
        <li>alternativa (A)</li>
        <li>alternativa (B)</li>
        <li>alternativa (C)</li>
        <li>alternativa (D)</li>
      </ul>
      <p><strong>Resposta:</strong>  
      Alternativa correta (C), sua resposta está correta.</p>
    </section>
    <hr class="divisoria">
  </div>
</body>
</html>